.purple {
    background: purple;
}
.line-bottom {
    border-bottom: 2px dotted purple;
}
.line-top {
    border-top: 2px dotted purple;
}
.list-item {
    width: 40px;
    height: 20px;
    text-align: center;
}
p {
    padding: 0;
}

